In [58]:
import pandas as pd #import biblioteki Pandas
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.decomposition import PCA 
from sklearn import preprocessing

df = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition_v2.csv", delimiter=",") # wczytanie pliku z danymi

df2 = pd.get_dummies(df["Gender"])
df["GenderNumeric"] = df2["Male"]
df.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,GenderNumeric
0,41,Travel_Rarely,Sales,1,2,Life Sciences,2,Female,3,2,...,3,1,8,0,1,6,4,0,5,0
1,49,Travel_Frequently,Research & Development,8,1,Life Sciences,3,Male,2,2,...,4,4,10,3,3,10,7,1,7,1
2,37,Travel_Rarely,Research & Development,2,2,Other,4,Male,2,1,...,3,2,7,3,3,0,0,0,0,1
3,33,Travel_Frequently,Research & Development,3,4,Life Sciences,4,Female,3,1,...,3,3,8,3,3,8,7,3,0,0
4,27,Travel_Rarely,Research & Development,2,1,Medical,1,Male,3,1,...,3,4,6,3,3,2,2,2,2,1

TypeError: unsupported operand type(s) for -: 'str' and 'float'