In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('WA_Fn-UseC_-HR-Employee-Attrition_v2.csv')

df2 = pd.get_dummies(df["Gender"])
df["GenderNumeric"] = df2["Male"]

df2 = pd.get_dummies(df["OverTime"])
df["OverTimeNumeric"] = df2["Yes"]

pd.set_option('display.max_column',30)
pd.set_option('display.max_rows',10)
pd.set_option('display.max_seq_items',None)
pd.set_option('display.max_colwidth', 500)
pd.set_option('expand_frame_repr', True)

df.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,OverTime,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,GenderNumeric,OverTimeNumeric
0,41,Travel_Rarely,Sales,1,2,Life Sciences,2,Female,3,2,Sales Executive,4,Single,5993,8,Yes,3,1,8,0,1,6,4,0,5,0,1
1,49,Travel_Frequently,Research & Development,8,1,Life Sciences,3,Male,2,2,Research Scientist,2,Married,5130,1,No,4,4,10,3,3,10,7,1,7,1,0
2,37,Travel_Rarely,Research & Development,2,2,Other,4,Male,2,1,Laboratory Technician,3,Single,2090,6,Yes,3,2,7,3,3,0,0,0,0,1,1
3,33,Travel_Frequently,Research & Development,3,4,Life Sciences,4,Female,3,1,Research Scientist,3,Married,2909,1,Yes,3,3,8,3,3,8,7,3,0,0,1
4,27,Travel_Rarely,Research & Development,2,1,Medical,1,Male,3,1,Laboratory Technician,2,Married,3468,9,No,3,4,6,3,3,2,2,2,2,1,0

In [ ]:
corr = df.corr()
corr

In [ ]:
sns.set(font_scale=1.4)
fig, (ax) = plt.subplots(figsize=(20,15))
matrix = sns.heatmap(corr, 
                 ax=ax,
                 cmap="coolwarm",
                 annot=True,
                 fmt='.2f',
                 annot_kws={"size": 15},
                 linewidths=.05)

In [ ]:
kolumna1 = input('Podaj kolumnę: ')

df_col = df[kolumna1]
df_col

In [3]:
kolumna2 = input('Podaj kolumnę: ')
wartosc = int(input('Podaj wartość: '))
df3 = df
df3['Count'] = df.groupby(kolumna2)[kolumna2].transform(len)

try:
    df4 = df3[df[kolumna2]==wartosc]
    if len(df4.index) == 0:
        raise ValueError
except ValueError:
    df4 = df3.iloc[(df[kolumna2] - wartosc).abs().argsort()[:1]]
    zakres = df4['Count'].values[0]
    df4 = df3.iloc[(df[kolumna2] - wartosc).abs().argsort()[:zakres]]
df_row = df4.drop('Count', axis = 1)
df_row

Podaj kolumnę: MonthlyIncome
Podaj wartość: 50000

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,OverTime,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,GenderNumeric,OverTimeNumeric
190,52,Travel_Rarely,Research & Development,1,4,Life Sciences,3,Male,2,5,Manager,3,Married,19999,0,No,3,1,34,5,3,33,18,11,9,1,0