In [1]:
from sklearn.model_selection import train_test_split, cross_val_score
import matplotlib.pyplot as plt
from sklearn.svm import SVR
import numpy as np
from sklearn.metrics import mean_squared_error
import pandas as pd
from sklearn.model_selection import RandomizedSearchCV
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from joblib import dump, load

In [2]:
df = pd.read_csv('CreditNumeric.csv')
df = df.drop(['Unnamed: 0'], axis=1)
df = df.drop(['Gender', 'Student', 'Married', 'Ethnicity'], axis=1)
df.head()

,Income,Limit,Rating,Cards,Age,Education,Balance,GenderNumeric,StudentNumeric,MarriedNumeric,EthnicityNumeric
0,14.891,3606,283,2,34,11,333,1,0,1,1
1,106.025,6645,483,3,82,15,903,0,1,1,2
2,104.593,7075,514,4,71,11,580,1,0,0,2
3,148.924,9504,681,3,36,11,964,0,0,0,2
4,55.882,4897,357,2,68,16,331,1,0,1,1

In [3]:
df_x_limit = df.drop(['Limit'], axis=1)
x_limit = df_x_limit.values

In [4]:
scaler = load('svr_scaler_limit.joblib')

In [5]:
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [6]:
x_new_limit = [[1000, 62, 0, 30, 15, 0, 1, 0, 1, 1]]

In [7]:
model_limit = load('svr_model_limit.joblib')

In [8]:
model_limit

SVR(C=8.6, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.36,
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [9]:
x_new_limit_scaler = scaler.transform(x_new_limit)
y_new_limit = model_limit.predict(x_new_limit_scaler)

In [10]:
limit = int(y_new_limit)
print(limit)

19299